{% extends 'base.html' %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="/static/style.css">
{% endblock %}


{% block content %}


<h2>Welcome {{ name }} 💪</h2>
<div class="container">

<div class="glass table-card">

<h3>Pushups History 📊</h3>

<div class="table-wrapper">

<table>

<thead>

<tr>

<th>Date</th>
<th>Pushups</th>
<th>Comments</th>
<th>Actions</th>

</tr>

</thead>

<tbody>
{% for workout in workouts %}
<tr>
<td>{{ workout.date_posted.strftime('%d/%m/%Y') }}</td>
<td>{{ workout.pushups }}</td>
<td>{{ workout.comment }}</td>
    <td>
        <a href="#" onclick="openModal({{ workout.id }})">Edit</a>
        <a href="#" onclick="deleteProcess({{ workout.id }})">Delete</a>
    </td>
</tr>
{% endfor %}
</tbody>

</table>


</div>

</div>

</div>
</div>
</div>

<!--
modal container code
-->

<!-- modal popup -->

<div id="updateModal" class="modal-overlay">

<div class="glass modal-window">

<span class="close-btn" onclick="closeModal()">✖</span>

<h3>Update Pushups</h3>

<form method="POST"
id="updateForm"
>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
<input
type="number"
name="pushups"
id="inp1"
placeholder="Count of pushups"
required>

<input
type="text"
name="comment"
id="inp2"
placeholder="Workout comments">

<button id="btn1" type="submit">

Update Record

</button>

</form>

</div>

</div>

<!--Modal container code end-->

   <script>

const modal = document.getElementById("updateModal");
const form = document.getElementById("updateForm");

function openModal(workoutId)
{

    {#document.getElementById("inp1").style.display="block";#}
    {#document.getElementById("inp2").style.display="block";#}
    {#document.getElementById("btn1").innerText="Update";#}
    {#form.action = "/workout/" + workoutId+ "/update";#}
    {#modal.style.display = "flex";#}

    document.getElementById("inp1").style.display="block";
    document.getElementById("inp2").style.display="block";

    document.getElementById("inp1").required = true;

    document.getElementById("btn1").innerText="Update";

    form.action = "/workout/" + workoutId + "/update";

    modal.style.display = "flex";

}
function deleteProcess(workoutId)
{
    {#document.getElementById("inp1").style.display="none";#}
    {#document.getElementById("inp2").style.display="none";#}
    {#document.getElementById("btn1").innerText="Delete";#}
    {##}
    {#form.action = "/workout/" + workoutId+ "/delete";#}
    {#modal.style.display = "flex";#}

    document.getElementById("inp1").style.display="none";
    document.getElementById("inp2").style.display="none";

    document.getElementById("inp1").required = false;

    document.getElementById("btn1").innerText="Delete";

    form.action = "/workout/" + workoutId + "/delete";

    modal.style.display = "flex";

}

function closeModal()
{
    modal.style.display = "none";
}

/* click outside closes modal */

window.onclick = function(event)
{
    if (event.target === modal)
    {
        closeModal();
    }
}

</script>
{% endblock %}

