{% extends 'base.html' %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="/static/style.css">
{% endblock %}


{% block content %}
<!-- form container -->

<div class="container">

<div class="glass">

<h2>Log Pushups 💪</h2>
<form method="POST" action="/new">
<input
type="number"
name="pushups"
placeholder="Number of pushups"
required>
<input
type="text"
name="comment"
placeholder="Message (optional)">
<button type="submit">
Save Entry
</button>
</form>
</div>
</div>

{% endblock %}
