
{% extends 'base.html' %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block content %}
<div class="container">

<div class="glass">

<h2>Login</h2>

<form method="POST" action="/login">

<input type="email"
placeholder="Enter your email"
name="email"
required>

<input type="password"
placeholder="Password"
name="password"
required>
    <label for="remember"><input type="checkbox" id="remember" name="remember"> Remember me</label>


<button type="submit">
Login
</button>

</form>

<p>
Don't have account?
<a href="/signup">
Signup
</a>
</p>

</div>

</div>
{% endblock %}

