
{% extends 'base.html' %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block content %}
<div class="container">

<div class="glass">

<h2>Login</h2>

<form method="POST">

<input type="text"
placeholder="Username"
name="username"
required>

<input type="password"
placeholder="Password"
name="password"
required>

<button type="submit">
Login
</button>

</form>

<p>
Don't have account?
<a href="/signup">
Signup
</a>
</p>

</div>

</div>
{% endblock %}

